VITE_SUPABASE_URL=https://zfhgicixkggjdbuevjlu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpmaGdpY2l4a2dnamRidWV2amx1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2NTY2MDcsImV4cCI6MjEwNjIzMjYwN30.Eqwlv9GQ5eCtTbM1-hYFjq34MZrHIhbOz6Y4_qneagM
